.contact-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Full height */
  width: 50px; /* Thin */
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  z-index: 999;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
}


.contact-bar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  transition: background-color 0.2s ease;
  color: #333;
  text-decoration: none;
}

.contact-bar a:hover {
  background-color: #f8dfe4; /* light pink background */
  color: #333; /* keep text/icon color consistent */
}

.contact-bar i {
  font-size: 23px;
}

.contact-logo {
  height: 32px;
  width: 32px;
  object-fit: contain;
  border-radius: 50%;
}