.App {
  background-image: url('./Assets/paperbg.webp');
  background-repeat: repeat; /* or no-repeat if it's large enough */
  background-size: cover;    /* or use `contain` or fixed size */
  background-attachment: fixed; /* optional: gives parallax feel */
  background-position: center;
}

.app-header {
  position: relative;
  top: 0;
  left: 30px; /* leaving space for contact bar for all app components*/
  width: calc(100% - 70px);
  padding: 15px 70px;
  z-index: 1000;
}

.app-header h1 {
  margin-top: 50px;
  font-size: 2.5rem;
  margin-left: 40px;
}

.welcome-bar {
  margin: 10px 0px 20px 0px; /* top right bottom left */
  background-color: #efefef;
  border-radius: 15px;
  padding: 12px 24px;
  color: #555;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: calc(100% - 80px); 
  max-width: 1000px;
}

body {
  overflow-x: hidden;  /* to avoid the horizontal scroll bar */
}